<%- include("partials/header"); -%>
<h1>You either entered an invalid email or password. Please try again :)</h1>
<div class="home">
    <a href="/login">Login</a> <a href="/register">Register</a>
</div>


<%- include("partials/footer"); -%>