* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form input {
  margin: 3% auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin: 5% auto;
  justify-content: center;
  border: 1px solid rgb(112, 112, 112, 0.5);
  border-radius: 10px;
  text-align: center;
}

.delete {
  border: none;
  height: 30px;
  width: 30px;
}

form button {
  width: 150px;
  height: 30px;
  margin: 2% auto;
}

.home {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.message-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: auto;
  min-height: 200px;
  width: 300px;
  margin: 5% auto;
}

.messageForm {
  height: 100px;
  position: fixed;
  bottom: 0;
}
